@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 200vh;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 10000;
}
header .logo {
  position: relative;
  font-weight: 70;
  color: #000;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #000;
}

header.sticky {
  padding: 5px 100px;
  background-color: #000;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
header.sticky .logo,
header.sticky ul li {
  color: #fff;
}

.shoe-img {
  max-height: 150px;
  max-width: 200;
}

/* .scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
  color: #000;
  
}
.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
} */

.landingPage {
  position: relative;
  top: 100px;
}

.textfield {
  top: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textfield input[type='text'],
.textfield input[type='password'] {
  background: none;
  border: 0;

  border: 1px solid #000;
}

.formLinkText {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 44.4em;
  bottom: 10em;
  font-size: xx-small;
  color: #818181;
}

.button-1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 2px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  margin: 100px;
}

.button-1:active {
  box-shadow: 0px 0px 0px 0px;
  margin: 100px;
  left: 39.2em;
}

#login {
  left: 39.2em;
}

#signup {
  left: 38.6em;
}

@media (min-width: 900px) {
  .button-1 {
    padding: 0.25em 0.75em;
    right: 2000em;
  }
}

footer {
  position: absolute;
  top: 900px;
  background-color: #111;
  color: #fff;
  height: auto;
  width: 100vw;
  padding-top: 40px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
}

.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: aquamarine;
}

.footer-bottom {
  background-color: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

.divBelowNavbar {
  padding-top: 100px;
}
